body {
    background-image: linear-gradient(90deg, rgb(1, 1, 1), rgb(76, 72, 69));
    color: aliceblue;
}

#title{

    font-size: 3em;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding: 12px;
    margin: 0 auto;
    
}

#container {

   
    margin:auto;
    border: 2px solid white;
    width: 50%;
    vertical-align: middle;
    background-image: linear-gradient(rgb(7, 100, 205), rgb(72, 140, 228));
    border-radius: 18px;
    overflow: hidden;
    
}

#about {
    padding: 16px;
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 1.6em;
    font-family:fantasy, monospace;
    
}

#header {
    text-align: center;
    color: #000;
    
}

#container2 {
    align-items:center;
    justify-content: center;
    display: flex;
    gap: 16px;
    width: 80%;
    padding: 16px;
    margin: auto;
       
}


#userInput, #btn{

    padding: 16px;
    
}

.inputField, .btnTab{
    padding: 8px;
    font-size: 1em;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
}

.btnTab {
    width: 100px;
}

.inputField {
    width: 300px;
}

.btnTab{
    background: rgb(233, 30, 57);
    color: #fff;
    cursor: pointer;
}

.btnTab:hover{
    
    background: rgb(255, 255, 255);
    color: rgb(233, 30, 57);
}

.inputField{
    border: 1px solid rgb(233, 30, 57) ;
    color: rgb(233, 30, 57);

}